@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background: #000;
}

body {
  overflow-y: overlay;
  background: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: linear-gradient(
    to bottom,
    #06b6d4,
    #2563eb
  );
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #22d3ee,
    #3b82f6
  );
}

* {
  -webkit-tap-highlight-color: transparent;
}